@model IEnumerable<EWWebStoreAPI.Models.Insert_Test>
@{ViewBag.Title = "Trial";}

<div class="jumbotron">
    <form action="~/Home/Insert" method="post">
        <input type="text" name="uname" />
        <input type="text" name="sname" />
        <button type="submit">Submit</button>
    </form>


    @if (Model != null)
    {
        <table class="table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.uname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sname)
                </th>
            </tr>
            @foreach (var names in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => names.uname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => names.sname)
                    </td>
                </tr>
            }
        </table>
    }
</div>

